.container {
  width: 100%;
  height: 100vh;
}

.devise {
  margin: 15vh 0;
  padding: 60px;
  border-radius: 20px;

  h2 {
    font-family: arial !important;
    font-size: 62px !important;
    text-align: center;
    margin-bottom: 50px;
  }

  label {
    font-family: arial !important;
    color: rgb(173, 172, 172);
  }
}

.inner-shadow-bright {
  text-shadow: 2px 3px 5px #FFF, 0px 0px 0 #5d5d5d, 1px 4px 6px white;
  color: rgba(239, 239, 239, 0.8);

}

.no-border {
  border-left: 0px solid #6d6467 !important;
  border: 0px solid #6d6467 !important;
  padding-left: 0;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
  &:focus {
    box-shadow: none;
  }
}

.padding-form {
  padding: 6px 12px !important;
}

.form-check-label {
  margin-left: 12px;
}

.form-group {
  width: 100%;
  & > input {
    width: 76% !important;
    border-radius: 0;
  }
}

.align-h {
  display: flex;
  flex-direction: row;
}

.align-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-blue {
  color: #469AE0 !important;
}

.margin-left-10 {
  margin-left: 10px;
}
